# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
.env/
virtualenv/
*.egg-info/
.Python
_build/
dist/
build/
eggs/
.installed.cfg
*.egg

# OS files
.DS_Store
.Thumbs.db

# Log files
*.log

# Environment configuration files
.env

# IDE related files
.idea/
.vscode/
*.swp
*.swo
*~
tmp/